.container {
  max-width: 864px;
  margin: 0 auto;
  padding: 0 1rem;
}

.content {
  margin-top: -5.5rem;
}

.posts {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 2rem;
}
